#cart-button {
  width: 70px;
  height: 70px;
  margin-right: 50px;
  fill: rgb(255, 81, 0);

  &:hover {
    fill: white;
  }
}
#cart-amount {
  color: white;
  text-decoration: none;
  list-style: none;
  position: absolute;
  top: 20px;
  right: 5px;
}

#cart-btn-ctn {
  position: relative;
  display: flex;
  justify-content: center;
}
