.game-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid black;
  margin-top: 50px;
  width: 200px;
  max-width: 90%;
  height: 280px;
  img {
    max-width: 190px;
  }
}
