@import './styles/base';

#game-item-cnt {
  background-color: $bg-color;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  padding: 0, 20px;
  align-content: center;
  justify-items: center;
  min-height: 89vh;
}
